body {
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
}
h1 {
    font-family: 'Lacquer', cursive;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    letter-spacing: -2px !important;
    font-weight: 700 !important;
}
a {
    color: #171717 !important;
}
a:hover {
    color: #f15025 !important;
}
.text-justified {
    text-align: justify;
}
.navbar {
    background-color: #f9f9f9;
}
.btn-default {
    color: #fff !important;
    border-color: #f15025;
    background-color: #f15025;
    border-radius: 0;
}
.btn-default:hover {
    border-color: #171717;
    background: #171717;
    color: #fff !important;
    cursor: pointer;
}
#home-hero {
    margin-top: 81px;
}
.hero-slide {
    height: 550px;
}
.slick-prev {
    left: 5px;
    color: #f15025;
    z-index: 1;
}
.slick-next {
    right: 5px;
    color: #f15025;
}
#slick-slide00 {
    background-image: url("https://source.unsplash.com/1600x900/?skull");
    background-size: cover;
    background-position: center center;
}
#slick-slide01 {
    background-image: url("https://source.unsplash.com/1600x900/?death");
    background-size: cover;
    background-position: center center;
}
#slick-slide02 {
    background-image: url("https://source.unsplash.com/1600x900/?horror");
    background-size: cover;
    background-position: center center;
}
.slick-prev:before, .slick-next:before {
    color: #898989;
}
.hero-overlay {
    background: rgb(0, 0, 0, 0.75);
    width: 100%;
    min-height: 550px;
}
.hero-text {
    z-index: 1;
}
.hero-title {
    color: #898989;
}
.slick-dots {
    display: none !important;
}
#row-1 img {
    transition: 1s;
}
#row-1 img:hover {
    transform: rotate(360deg);
    cursor: pointer;
}
#row-2 {
    background: linear-gradient(240deg, #2f2f2f, #000);
    position: relative;
    transform: skew(0deg, -6deg);
    padding: 50px 0;
    margin-bottom: 100px;
}
#row-2 .fa {
    color:#f15025;
}
#row-2 .fas {
    transition: .5s;
}
#row-2 .fas:hover {
    transform: scale(2);
    cursor: pointer;
}
.bg-skew-light {
    transform: skew(0deg, 6deg);
    padding: 75px 0;
    color: #e3e3e3;
}
#row-3 {
    margin: 50px 0;
    background-color: #f9f9f9;
}
.card-top {
    overflow: hidden;
}
.card-top img {
    transform: scale(2);
    transition: 3s;
}
.card-top img:hover {
    transform: scale(1);
    cursor: pointer;
}
#row-4 {
    background: linear-gradient(120deg, #2f2f2f, #000);
    position: relative;
    transform: skew(0deg, 6deg);
    padding: 50px 0;
    margin-bottom: 50px;
}
#brand-section {
    margin-bottom: 50px;
}
.bg-skew-light2 {
    transform: skew(0deg, -6deg);
    padding: 100px 0;
    color: #e3e3e3;
}
.brand-img {
    transition: .3s;
}
.brand-img:hover {
    transform: scale(1.3);
    cursor: pointer;
}
footer {
    background-color: #f9f9f9;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav-scroll {
        margin: 0 auto;
    }
    .brand-img {
        height: 70px;
    }
}


/* ABOUT PAGE */
#home-hero-about .hero-slide {
    overflow: hidden;
    height: 300px;
    margin-top: 80px;
}
#drip-back {
    width: 100%;
    height: 300px;
}
#home-hero-about .hero-title {
    color: #f9f9f9;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#about-timeline ul {
  background: #171717;
  padding: 100px 0;
}

#about-timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
  color: #f9f9f9;
}

#about-timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

#about-timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #f15025;
}

#about-timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

#about-timeline ul li:nth-child(odd) div {
  left: 45px;
}

#about-timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f15025 transparent transparent;
}

#about-timeline ul li:nth-child(even) div {
  left: -439px;
}

#about-timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f15025;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#about-timeline ul li::after {
  transition: background .7s ease-in-out;
}

#about-timeline ul li.in-view::after {
  background: #f15025;
}

#about-timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .7s ease-in-out;
}

#about-timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

#about-timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

#about-timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  #about-timeline ul li div {
    width: 250px;
  }
  #about-timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  #about-timeline ul li {
    margin-left: 20px;
  }
  #about-timeline ul li div {
    width: calc(100vw - 91px);
  }
  #about-timeline ul li:nth-child(even) div {
    left: 45px;
  }
  #about-timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f15025 transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#about-timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

#about-timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#about-timeline-rhombus ul li div::before {
  bottom: 12px;
}

#about-timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

#about-timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

#about-timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

/* Services Page */
.hero-slider-services .hero-slide {
    background-image: url("https://source.unsplash.com/1600x900/?skull");
    background-size: cover;
    background-position: center center;
    height: 300px;
    margin-top: 80px;
}

.hero-slider-services .hero-overlay {
    background: rgb(0, 0, 0, 0.75);
    width: 100%;
    min-height: 300px !important;
}
.service-para {
    background-color: #efefef;
    color: #252525;
    height: 700px;
}
.service-img {
    height: 350px;
    overflow: hidden;
}
.service-img img {
    transform: scale(1.9);
    transition: 3s;
}
.service-img img:hover {
    transform: scale(1);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .service-para {
    height: 451px;
}
.service-img {
    height: 451px;
}
}

@media screen and (min-width: 1200px) {
    .service-para {
    height: 651px;
}
.service-img {
    height: 651px;
}
}

/* Work Page */
.hero-slider-work .hero-slide {
    background-image: url("https://source.unsplash.com/1600x900/?skull");
    background-size: cover;
    background-position: center center;
    height: 300px;
    margin-top: 80px;
}

.hero-slider-work .hero-overlay {
    background: rgb(0, 0, 0, 0.75);
    width: 100%;
    min-height: 300px !important;
}
.box-2 {
    height: 600px;
}
